/installationAndoid.html~
/installationOSX.html~
/createdb_gestiondesnotes.sql~
/gestiondesnotes.py~
/_minted-installationOSX/
/installationOSX.tex~
/test_tksheet.py~
/initdb_gestiondesnotes.sql~
/__pycache__/
._sync_
._sync_*
